:root {
  --mainColor:   #3f197d;
  --accentColor:   #00d99c;
  --countColor:   #e7004a;
  --bg:  #f5f4f8;
}

* {
  outline: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: var(--mainColor);
  background-color: white;
}

h2 {
  margin: 10px 0;
}

.container {
  width: calc(100% - 40px);
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
}

.mobile_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
}

.mobile {
  width: 360px;
  height: 100px;
  background-color: var(--bg);
  padding: 14px;
  margin: 10px 40px 10px 0;
}

.mobile_row_stripe {
  width: 340px;
  height: 60px;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.mobile_logo {
  width: 48px;
  height: 48px;  
}

.mobile_avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.logged {
  color: var(--mainColor);
  padding: 5px 0 10px 0;
}

.control_bar {
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.user_data {
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.space {
  margin: 0 8px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.desktop {
  width: calc(100% - 30px);
  height: 130px;
  padding: 14px;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}

.desktop_row_stripe {
  width: calc(100% - 60px);
  height: 90px;
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.desktop_avatar {
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.desktop_edit {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background-color: var(--accentColor);
}

.desktop_login {
  margin: 0 10px 0 -4px;
  font-size: 18px;
}

.circle_bg {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--bg);
}

.pos_rel {
  padding-top: 2px;
  position: relative;
}

.desktop_count {
  position: absolute;
  right: 2px;
  top: -5px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--countColor);
  z-index: 2;
}