:root {
  --mainColor:   #3f197d;
  --accentColor: #00d99c;
  --countColor:  #e7004a;
  --bg:          #f5f4f8;
}

html, body, div, span, p, a, img {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: middle;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: var(--mainColor);
  background-color: white;
}

a {
  color: var(--mainColor);
  text-decoration: none;
}

.container {
  width: 100%;
  height: 100%;
  background-color: white;
}

.login_desktop,
.logout_desktop,
.login_mobile,
.logout_mobile {
  color: var(--mainColor);
  padding-bottom: 10px;
}

.control_bar, 
.user_data {
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.space {
  margin: 0 8px 0;
}


@media screen and (max-width: 768px) {
  .panel {
    width: calc(100% - 30px);
    height: 100px;
    padding: 15px;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
  }

  .panel_logo {
    width: 48px;
    height: 48px;
  }

  .panel_row_stripe {
    width: calc(100% - 20px);
    height: 60px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
  }

  .panel_avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  .panel_edit {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background-color: var(--accentColor);
  }

  .panel_login {
    margin: 0 10px 0 -4px;
    font-size: 18px;
  }

  .panel_circle_bg {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--bg);
  }

  .panel_pos_rel {
    padding-top: 2px;
    position: relative;
  }

  .panel_count {
    position: absolute;
    right: 2px;
    top: -5px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--countColor);
    z-index: 2;
  }

  /* logged out styles */
  .panel .panel_edit,
  .panel .panel_pos_rel,
  .panel .panel_count,
  .panel .panel_avatar,
  .panel .panel_circle_bg,
  .panel .login_desktop,
  .panel .login_mobile,
  .panel .logout_desktop {
    display: none;
  }

  .panel .panel_user,
  .panel .logout_mobile {
    display: inline;
  }

  /* login styles */  
  .panel.logged .panel_user,
  .panel.logged .panel_edit,
  .panel.logged .panel_pos_rel,
  .panel.logged .logout_desktop,
  .panel.logged .login_desktop,
  .panel.logged .logout_mobile {
    display: none;
  }

  .panel.logged .panel_avatar,
  .panel.logged .login_mobile {
    display: inline;
  }

  .panel.logged .panel_count {
    display: inline-flex;
  }
}

@media screen and (min-width: 769px) {
  .panel {
    width: calc(100% - 30px);
    height: 130px;
    padding: 15px;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
  }

  .panel_row_stripe {
    width: calc(100% - 60px);
    height: 90px;
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
  }

  .panel_avatar {
    border-radius: 50%;
    width: 48px;
    height: 48px;
  }

  .panel_edit {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background-color: var(--accentColor);
  }

  .panel_login {
    margin: 0 10px 0 -4px;
    font-size: 18px;
  }

  .panel_circle_bg {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--bg);
  }

  .panel_pos_rel {
    padding-top: 2px;
    position: relative;
  }

  .panel_count {
    position: absolute;
    right: 2px;
    top: -5px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--countColor);
    z-index: 2;
  }

  /* logged out styles */
  .panel .panel_edit,
  .panel .panel_pos_rel,
  .panel .panel_count,
  .panel .panel_avatar,
  .panel .login_desktop,
  .panel .login_mobile,
  .panel .logout_mobile {
    display: none;
  }

  .panel .panel_user,
  .panel .panel_count,
  .panel .logout_desktop {
    display: inline;
  }

  /* login styles */  
  .panel.logged .panel_user,
  .panel.logged .logout_desktop,
  .panel.logged .login_mobile,
  .panel.logged .logout_mobile {
    display: none;
  }

  .panel.logged .panel_edit,
  .panel.logged .panel_pos_rel,
  .panel.logged .panel_count,
  .panel.logged .panel_avatar,
  .panel.logged .login_desktop {
    display: inline;
  }
  
  .panel.logged .panel_count {
    display: inline-flex;
  }
}